<h2 id="markdown_sidebar">
    <a>
        Markdown Tips
    </a>
</h2>
<div>
    <p>If you add the symbols shown below to the text you write, it will change how your text is displayed.</p>
    <ul class="posts">
        <li><em>*Emphasis*</em></li>
        <li><strong>**Strong**</strong></li>
        <li>[link text here](link.address.here "link title here")</li>
        <li>Line Break: a line ending in two spaces.</li>
        <li>1. An ordered list</li>
        <li>* An unordered list</li>
        <li>`<code>code</code>`</li>
        <li><h1># heading</h1></li>
        <li><h2>## subheading</h2></li>
        <li><h3>### sub-subheading</h3></li>
        <li>
            <%= link_to "More on Markdown", 
                "http://en.wikipedia.org/wiki/Markdown",
                {:target => "_blank"} %>
        </li>
    </ul>
</div>