<h2 id="sidebar_account"><a>Account</a></h2>
<div>
    <ul class="posts">
      <li><%= link_to "Post Management", posts_path %></li>
      <li><%= link_to "Account Management", pages_account_path %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
    </ul>
</div>