<h2 id="sidebar_news"><a>Privly News</a></h2>
<div>
  <ul class="menu">
    <li>
      <%= link_to "Privly Twitter", 
            "http://twitter.com/#!/Privly" %>
    </li>
    <li>
      <%= link_to "Privly Facebook", 
            "https://www.facebook.com/shareprivately" %>
    </li>
    <li>
      <%= link_to "Privly Google+", 
            "https://plus.google.com/116408437159289879477/posts" %>
    </li>
    <li>
      <%= link_to "Privly Diaspora", 
            "https://diasp.org/u/privly" %>
    </li>
  </ul>
</div>