<h2 id="posting_apps_sidebar"><a>Posting Apps</a></h2>
<div>
  <ul class="posts">
    <li><%= link_to 'New ZeroBin', '/zero_bin/' %></li>
    <li><%= link_to 'New Plain Post', new_plain_post_path %></li>
  </ul>
</div>
