<p>Hello <%= @user.email %>,</p>

<p>Thanks for signing up for an invitation on <%= link_to "Priv.ly", "https://priv.ly" %>!</p>

<p>Are you a developer, tester, graphic designer, crypto-expert, legal expert, or all-round awesome individual? <%= link_to "Join our open source effort!", pages_join_url %></p>

<p>
Check us out on <%= link_to 'Twitter', "https://twitter.com/#!/Privly" %>, and remember to tell your friends how Privly will let you:     
</p>

<ul>
    <li>Maintain control of your content wherever you post it</li>
    <li>Prevent companies from selling and scanning your most private communications</li>
    <li>Share content across social networks, email, blogs, and forums using the same privacy settings</li>
    <li>Prevent governments from shutting down free speech</li>
    <li>Have easy use of modern encryption technologies</li>
</ul>

<p>
    Share Priv(ate)ly,
    <br />
    -The Privly Team
</p>
