<p>Hello <%= @user.email %>,</p>

<p>Thanks for signing up for an invitation on <%= Privly::Application.config.name %>!</p>

<p>We are still limiting the number of user accounts we allow on this server. We will send an email with an activation code as soon as we are ready for you.</p>

<p>
    Sincerely,
    <br />
    -The <%= Privly::Application.config.name %> Team
</p>
