<html>
    <head>
        <%= javascript_include_tag :iframe %>
        <script type="text/javascript" >
            jQuery(document).ready(function(){
              jQuery("body").on("click",function(evt){
                  iframeBehavior.clickCount++;
                  if(iframeBehavior.clickCount < 2)
                  {   
                    iframeBehavior.singleClick(evt);
                  }
              });
            });
        </script>
        <%= stylesheet_link_tag :iframe %>
    </head>
    <body privly-exclude="true">
        <div id="wrapper">
            <div id="post_content">
              <p><%= link_to "Learn more about Privly", root_path %></p>
            </div>
        </div>
    </body>
</html>
