<% content_for(:title) do %>
    Welcome
<% end %>

<% content_for(:extrajs) do %>
<script type="text/javascript">
$(document).ready(function() {
  $("#page").css("border-right","0px");
});
</script>
<% end %>

<% content_for :top_column do %>
<div id="homeheader">
	<div id="mainimg">
	    <h1>Project Status</h1>
		<p>We are in alpha: 0.1.1.1</p>
		<p>TODO: Insert Video or animated GIF</p>
	</div>
	<div id="rightboxes">
		<div class="box1">
			<p class="rotate"><a href="#"><span>Download Extension</span> </a></p>
		</div>
		<div class="box2">
			<p class="rotate">
				<a href="#"><span>Download Greasemonkey Script</span> </a>
			</p>
		</div>

		<div class="box3">
			<p class="rotate">
				<a href="#"><span>Contribute Time or Money</span> </a>
			</p>
		</div>

	</div>
	<div class="clear"></div>
</div>
<% end %>

<% content_for :top_main_content_column do %>
	<div id="threecol">
		<div class="col1">
			<h2><a href="http://seizeprivacy.org/sharing.html">Share Anywhere</a></h2>
			<p>We will allow you to share data across platforms without giving the platform access to your communications. <a href="http://seizeprivacy.org/sharing.html">See How</a></p>
		</div>
		
		<div class="col2">
			<h2><a href="http://seizeprivacy.org/control.html">Can't Be Evil</a></h2>
			<p>We don't want your trust. We want to make trust unnecessary. You can can control your own digital identity. <a href="http://seizeprivacy.org/control.html">See How</a></p>
		</div>

		<div class="col3">
			<h2><a href="http://seizeprivacy.org">Seize Privacy</a></h2>
			<p>Web companies say privacy is dead, but you can use webmail, blogs, and social networks without handing over your personal information. <a href="http://seizeprivacy.org">See How</a></p>
		</div>

		<div class="clear"></div>
	</div>
<% end %>