<% content_for(:title) do %>
    About
<% end %>

<h2 class="subhead"><span>About</span></h2>

<p>Privly is a method for taking control of everything you share electronically. Facebook, Google, Twitter, and the rest do not own your data. You do. Read any Terms of Service for a web company and you will likely find lines like these:</p>

<blockquote>
  <p>By submitting, posting or displaying the content you give Google a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute any Content which you submit, post or display on or through, the Services&#8230;You agree that this license includes a right for Google to make such Content available to other companies, organizations or individuals with whom Google has relationships&#8230; <a href="http://www.google.com/accounts/TOS">From Google&#8217;s Terms of Service</a></p>
</blockquote>

<p>By putting your content behind a link, and injecting it into the page on the browser side, your content is not subject to their terms. They can not even see it. Further, when we are done with our client side encryption library, even the place you store your content will not be able to read your content. Privly does not want your trust, we want to make Privly a protocol for connecting your life on the web. </p>

<br />

<p><b>Privly Gives You</b></p>

<ul>
  <li>The ability to share/post/tweet/chat anywhere without giving the host site access to the content</li>
  <li>The power to grant and take away access to your content to anyone, anywhere</li>
  <li>The power to rewrite history, by changing the content behind the link</li>
</ul>

<br />

<p><b>Privly Will Give You</b>
<ul>
  <li>The ability to share by email, aspect, circle, <span class="caps">PGP</span> key, List, geography, and other sharing methods</li>
  <li>Easy to use encrypted communications</li>
  <li>And things we haven&#8217;t thought of&#8230;yet</li>
</ul></p>

<br />

<p>Privly has proved itself as a concept. You can use it on Facebook, Gmail, Google+, Twitter, Reddit, and just about anywhere else. As we refine the Firefox extension and develop versions for other browsers, we hope you will check back. Sign up for an invitation, donate, or join us!</p>