<% content_for(:title) do %>
    About
<% end %>

<h2 class="subhead"><span>About</span></h2>

<h3>From <%= link_to "Googles Terms of Service", "http://www.google.com/accounts/TOS" %></h3>
<p>
11.	Content license from you
</p>
<p>
11.1	You retain copyright and any other rights you already hold in Content which you submit, post or display on or through, the Services. By submitting, posting or displaying the content you give Google a perpetual, irrevocable, worldwide, royalty-free, and non-exclusive license to reproduce, adapt, modify, translate, publish, publicly perform, publicly display and distribute any Content which you submit, post or display on or through, the Services. This license is for the sole purpose of enabling Google to display, distribute and promote the Services and may be revoked for certain Services as defined in the Additional Terms of those Services.
</p>
<p>
11.2	You agree that this license includes a right for Google to make such Content available to other companies, organizations or individuals with whom Google has relationships for the provision of syndicated services, and to use such Content in connection with the provision of those services.
</p>
<p>
11.3	You understand that Google, in performing the required technical steps to provide the Services to our users, may (a) transmit or distribute your Content over various public networks and in various media; and (b) make such changes to your Content as are necessary to conform and adapt that Content to the technical requirements of connecting networks, devices, services or media. You agree that this license shall permit Google to take these actions.
</p>
<p>
11.4	You confirm and warrant to Google that you have all the rights, power and authority necessary to grant the above license.
</p>