<% content_for(:title) do %>
    Account
<% end %>

<h2 class="subhead"><span>Account</span></h2>

<p class="postmeta"><%= link_to 'Destroy All Posts', posts_destroy_all_path, :confirm => 'Are you sure? This will destroy everything you know and love in this site.', :method => :delete %></p>

<p class="postmeta"><%= link_to 'Export All Posts', {:controller => "posts", :action => "index", :format => :csv}, :confirm => 'Are you sure? This will export all of your posts in .csv format.'%></p>

<p class="postmeta">To change your password, <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %> and check login options to manage your password.</p>

<p class="postmeta">The email associated with this account is: <%= current_user.email %></p>