<h2 class="subhead"><span>Account</span></h2>

<p class="postmeta"><%= link_to 'Destroy All Posts', posts_destroy_all_path, :confirm => 'Are you sure? This will destroy everything you know and love in this site.', :method => :delete %></p>