<h2 class="subhead"><span>Bugs</span></h2>

<div class="post">
    <div class="posthead">
        <h3><a href="https://github.com/smcgregor/PrivateWebExtension/issues">Please tell us what we are doing wrong!</a></h3>
    </div>
<p>If it is an issue with the content server (Priv.ly), make sure you include the URL with the error and a description of the problem.</p>
<p>If it is an issue with a particular website, make sure you include:</p>
<ul><li>The version of the extension or script you were using (if any)</li>
<li>A Public URL with a public Priv.ly link</li>
<li>Your browser name and version</li>
<li>Your operating system </li>
<li>A description of the behavior </li>
</ul>
<p>Once you gather the relevant information, <a href="https://github.com/smcgregor/PrivateWebExtension/issues">Submit an Issue</a>, and we'll get to it as soon as possible. Thanks!</p>
</div>
</div>

