<% content_for(:title) do %>
    Download Extensions
<% end %>

<h2 class="subhead"><span>Download</span></h2>

<p>We need to bring Privly to other browsers and platforms, so if you don't see your endpoint here, please consider <%= link_to "joining", pages_join_path %> the team.</p>

<br />

<%= image_tag "firefox_logo_150.png", :alt => "Firefox Logo" %>
<div id="extension">
    <h1 id="firefox">Firefox Extension</h1>
</div>
<p>The extension is still pre-release. Please check back if you need a stable product. We will announce developments on Privly's <%= link_to "Twitter", "http://twitter.com/#!/Privly" %> account.</p>

<br />

<p>
    <strong>To install the extension:</strong>
    <ol>
        <li><%= link_to "Download the source from Github", "https://github.com/smcgregor/PrivateWebExtension/tree/master/FirefoxExtension/extension" %></li>
        <li>ZIP the source code for the extension</li>
        <li>Change the ZIP extension to ".xpi"</li>
        <li>Install the .xpi file from Firefox, tools &gt; add ons &gt; (click gear symbol on page) &gt; Install Add-on from File</li>
    </ol>
</p>
