<h2 class="subhead"><span>Email</span></h2>

<p>
    You can join our email list to track the public development of the site and extensions. You can also ask for help, but make sure you check the <%= link_to "FAQ", pages_faq_path %> first.
    <br />
    <br />
    <a href="http://groups.google.com/group/privly">Visit the email group</a>
</p>