<h2 class="subhead"><span>Frequently Asked Questions</span></h2>

<div class="post">
    <div class="posthead">
        <label>
        <h2>Are You Competing with <%= link_to "Diaspora", "http://joindiaspora.org" %>?</h2>
        <p>Privly does <strong>not</strong> want to be another social network. Diaspora is a solid foundation for secure sharing, but you can't share Diaspora content securely everywhere. Our efforts will break Diaspora out of a privacy conscious ghetto, and allow it to interact with the open internet.</p>
    </div>
</div>