<% content_for(:title) do %>
    Internet Relay Chat
<% end %>

<h2 class="subhead"><span>IRC</span></h2>

<h2><a href="http://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC = Internet Relay Chat</a></h2>

<p>Our application to <a href="http://freenode.net">FreeNode</a> is pending acceptance. Please check back, or <%= link_to "contact us.", pages_people_path %> There will be development and support channels.</p>
