<% content_for(:title) do %>
    Kickstarter
<% end %>

<h2 class="subhead"><span>Kickstarter Campaign</span></h2>

<div class="post">
    <div class="posthead">
        <h3>Launching Soon</h3>
        <p>We are a button press away from launching our Kickstarter. Contact <%= link_to "Sean McGregor", pages_people_path %> If you want to preview the Kickstarter.</p>
    </div>
</div>

