<% content_for(:title) do %>
    Kickstarter
<% end %>

<h2 class="subhead"><span>Kickstarter Campaign</span></h2>

<div class="post">
    <div class="posthead">
        <p>Thanks to our <%= link_to "Kickstarter", "http://www.kickstarter.com/projects/229630898/protect-your-content-anywhere-on-the-web-privly" %> backers, we received seed money in April. You can still <%= link_to "donate", pages_donate_path %>, or <%= link_to "join the development team", pages_join_path %>.</p>
    </div>
</div>

