<% content_for(:title) do %>
    License
<% end %>

<h2 class="subhead"><span>License</span></h2>

<p>We are licensing all extensions and server code under the MIT license, see the <a href="/license.txt">License File.</a></p>

<br />

<%= image_tag("OSI-Approved-License-100x137.png", :style=>"display: block;   margin-left: auto;   margin-right: auto;") %>