<% content_for(:title) do %>
    People
<% end %>

<h2 class="subhead"><span>People</span></h2>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Sean McGregor, ", "http://seanbmcgregor.com", :target => "_blank" %>Founder/Developer</h3>
        <p>Sean McGregor is an American Machine Learning PhD student at Oregon State University. He began developing the Privly concept in response to platforms asserting ownership over their community's content.</p>
        <p>Sean is currently working on the web application and the browser extensions.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Balaji Athreya, ", "http://www.linkedin.com/in/balajiathreya", :target => "_blank" %>Developer</h3>
        <p>Balaji Athreya is a graduate student in Computer Science at Oregon State University studying Software Engineering and Usability. He likes filter coffee, programming and Ilayaraja in no specific order.</p>
        <p>Currently, he is working on the browser extension.</p>
    </div>
</div>
