<h2 class="subhead"><span>People</span></h2>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Sean McGregor, ", "http://seanbmcgregor.com" %>Founder/Developer</h3>
        <p>Sean McGregor is an American Machine Learning PhD student at Oregon State University. He began developing the Privly concept in 2009 in response to platforms asserting ownership over their community's content.</p>
        <p>Sean is currently working on the web application and the browser extensions.</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Balaji Athreya, ", "/" %>Developer</h3>
        <p>NEED CONTENT, todo</p>
    </div>
</div>

<div class="post">
    <div class="posthead">
        <h3><%= link_to "Joe Selman, ", "/" %>Contributor</h3>
        <p>NEED CONTENT, todo</p>
    </div>
</div>