<% content_for :extracss do %>
<style>
#support_list {
	width: 640px;
	margin: 0px auto;
	border-collapse: collapse;
	border: 1px solid #000000;
 }
#support_list .rowa {
	background: #ffffff;
	height: 20px;
}
#support_list .rowb {
	background: #c0c0c0;
	height: 20px;
}
#support_list .cell {
	padding: 0px;
	border: 1px solid #000000;
	text-align: center;
}
</style>
<% end %>

<h2 class="subhead"><span>Support Status</span></h2>

<p>Maintaining functionality across the web is tricky business. Here is the expected functionality on various sites. If you find the functionality does not match what we report, please <%= link_to "file a bug report.", pages_bug_path %></p>

<br />

<table class="table" id="support_list" cellspacing="0" cellpadding="0">
	<tr class="rowa">
		<th class="col1 cell">Site</th>
		<th class="col2 cell">Greasemonkey Script</th>
		<th class="col3 cell">Firefox Extension</th>
		<th class="col4 cell">Chrome Extension</th>
		<th class="col5 cell">Internet Explorer Extension</th>
		<th class="col6 cell">Safari Extension</th>
		<th class="col7 cell">Opera Extension</th>
	</tr>
	<tr class="rowb">
		<td class="col1 cell"> Facebook.com</td>
		<td class="col2 cell"> 2</td>
		<td class="col3 cell"> 2</td>
		<td class="col4 cell"> DNE</td>
		<td class="col5 cell"> DNE</td>
		<td class="col6 cell"> DNE</td>
		<td class="col7 cell"> DNE</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell">Diaspora</td>
		<td class="col2 cell">?</td>
		<td class="col3 cell">?</td>
		<td class="col4 cell">DNE</td>
		<td class="col5 cell">DNE</td>
		<td class="col6 cell">DNE</td>
		<td class="col7 cell">DNE</td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell">Google+</td>
		<td class="col2 cell">?</td>
		<td class="col3 cell">?</td>
		<td class="col4 cell">DNE</td>
		<td class="col5 cell">DNE</td>
		<td class="col6 cell">DNE</td>
		<td class="col7 cell">DNE</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell">Gmail</td>
		<td class="col2 cell">?</td>
		<td class="col3 cell">?</td>
		<td class="col4 cell">DNE</td>
		<td class="col5 cell">DNE</td>
		<td class="col6 cell">DNE</td>
		<td class="col7 cell">DNE</td>
	</tr>
	<tr class="rowb">
		<td class="col1 cell">Drupal</td>
		<td class="col2 cell">3</td>
		<td class="col3 cell">3</td>
		<td class="col4 cell">DNE</td>
		<td class="col5 cell">DNE</td>
		<td class="col6 cell">DNE</td>
		<td class="col7 cell">DNE</td>
	</tr>
	<tr class="rowa">
		<td class="col1 cell">Twitter</td>
		<td class="col2 cell">1</td>
		<td class="col3 cell">1</td>
		<td class="col4 cell">DNE</td>
		<td class="col5 cell">DNE</td>
		<td class="col6 cell">DNE</td>
		<td class="col7 cell">DNE</td>
	</tr>
 </table>
 
<br />
<h2>Key</h2>
<ul>
    <li>0: It mangles the site's display</li>
    <li>1: It does not replace any links on the site</li>
    <li>2: It replaces some links, but mangles others</li>
    <li>3: It replaces some links, and mangles none</li>
    <li>4: It replaces most links, and mangles none</li>
    <li>5: All current features operate on the site</li>
    <li>DNE: Does not exist</li>
</ul>