<% content_for(:title) do %>
    Get Invited
<% end %>

<h2 class="subhead"><span>New Invitation</span></h2>

<p>Privly is under active development. To get invited when we have a major release, enter your email below. You can also experiment with the development server by <%= link_to "registering", new_user_registration_path %>. Existing users can <%= link_to "Sign in", new_user_session_path %>.</p>

<br/>

<%= render 'form' %>
