<% content_for(:title) do %>
    Get Invited
<% end %>

<h2 class="subhead"><span>New Invitation</span></h2>

<%= render 'form' %>

<br/><br/>
<p>
    <%= link_to "Register", new_user_registration_path %>
</p>
<br/>
<p>
    <%= link_to "Sign in", new_user_session_path %>
</p>