<% content_for(:title) do %>
    New Token Authentication
<% end %>

<h1>Token Authentications</h1>

<p>
  This page is provided to simplify integration
  with the content server's token authentications.
  If you don't know what that means, then you probably
  don't belong here.
</p>

<h2>html</h2>
<form action="/token_authentications" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <p>Email</p>
  <input type="email" name="email" id="email">
  <p>Password</p>
  <input type="password" name="password" id="password">
  <p></p>
  <input type="submit" name="commit" value="New Token">
</form>

<br />

<h2>json</h2>
<form action="/token_authentications.json" accept-charset="UTF-8" method="post">
  <p>Email</p>
  <input type="email" name="email" id="email">
  <p>Password</p>
  <input type="password" name="password" id="password">
  <p></p>
  <input type="submit" name="commit" value="New Token">
</form>

<br />

<%= link_to 'Destroy Your Token', destroy_token_authentications_path, :confirm => 'Are you sure?', :method => :delete %>
