require "bundler/capistrano"

set :stages, %w(production staging)
set :default_stage, "staging"
require 'capistrano/ext/multistage'

set :deploy_via, :remote_cache
set :deploy_env, 'production'

set :user, "your_user_name"
set :scm_username, "your_user_name"
set :application, "privly"
set :repository,  "git@github.com:your_user_name/privly-web.git"
set :branch, "your_branch_here"

set :git_enable_submodules, 1

set :deploy_to, "/path/to/application/on/server"
set :privly_shared_path, "#{deploy_to}/shared/"
default_run_options[:pty] = true

#hack because for some reason it checks for this to be defined 
#before reading the variables from the stage files
set :domain, ""

set :scm, :git
# Or: `accurev`, `bzr`, `cvs`, `darcs`, `git`, `mercurial`, `perforce`, `subversion` or `none`

#set this to whichever port your server answers on
set :port, 22
#role :db,  "your slave db-server here"

# if you're still using the script/reaper helper you will need
# these http://github.com/rails/irs_process_scripts

# If you are using Passenger mod_rails uncomment this:
namespace :deploy do
  task :start do ; end
  task :stop do ; end
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
  end
end

#check where the command is running
task :uname do
  run "uname -a"
end
