set :user, "your_server_username"
set :scm_username, "your_scm_username"
set :application, "privly"
set :repository,  "git@github.com:smcgregor/PrivateWebExtension.git"

set :deploy_to, "/var/www"
default_run_options[:pty] = true

set :scm, :git
# Or: `accurev`, `bzr`, `cvs`, `darcs`, `git`, `mercurial`, `perforce`, `subversion` or `none`

set :port, 22
role :web, "priv.ly"                          # Your HTTP server, Apache/etc
role :app, "priv.ly"                          # This may be the same as your `Web` server
role :db,  "priv.ly", :primary => true # This is where Rails migrations will run
#role :db,  "your slave db-server here"

# if you're still using the script/reaper helper you will need
# these http://github.com/rails/irs_process_scripts

# If you are using Passenger mod_rails uncomment this:
namespace :deploy do
  task :start do ; end
  task :stop do ; end
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
  end
end