<% content_for(:title) do %>
    Edit Post
<% end %>

<h2 class="subhead"><span>Edit Post</span></h2>
<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
