<% content_for(:title) do %>
    Post
<% end %>

<h2 class="subhead">
    <span>
        Login
    </span>
</h2>
<div class="post">
  <p>This is not a public post, or it does not exist. You might have access to this if you <%= link_to "log in", new_user_session_url %>.</p>
</div>
