<html>
    <head>
        <%= render 'iframe_script.html' %>
    </head>
    <body>
    This link might require you to <%= link_to "log in", new_user_session_url, {:target => "_blank"} %> to <%= link_to "Priv.ly", new_user_session_url, {:target => "_blank"} %>. 
    </body>
</html>
