<h2 class="subhead"><span>New Post</span></h2>

<%= render 'form' %>

<%= link_to 'Back', posts_path %>

<p>You can use the <%= link_to "Markdown", "http://en.wikipedia.org/wiki/Markdown" %> language for your posts.