<html>
    <head>
         <%= render 'iframe_script.html' %>
         <%= render 'tooltip_script.html' %>
    </head>
    <body privly-exclude="true">
        This <%= link_to "Priv.ly", welcome_url, {:target => "_blank"} %> link is not shared with you or does not exist.
    </body>
</html>
