<html>
    <head>
      <%= javascript_include_tag :iframe %>
      <%= stylesheet_link_tag :iframe %>
    </head>
    <body>
      <div id="wrapper">
        This link is not shared with you or does not exist.
      </div>
    </body>
</html>
