<% content_for(:title) do %>
    Post
<% end %>

<h2 class="subhead"><span>Post</span></h2>
<div class="post">
    <div class="posthead">
        <p><%= @post.content.safe_markdown %></p>
    </div>

</div>