<html>
    <head>
        <%= javascript_include_tag :iframe %>
        <script type="text/javascript" >
            jQuery(document).ready(function(){
              
              // Update the tooltip message so that the user know they can
              // double click to edit.
              <% if can? :update, @post %>
                  updateTooltipMessage("Privly Writable (Double Click)");
              <% end %>
              
              jQuery("body").on("click",function(evt){
                  iframeBehavior.clickCount++;
                  if(iframeBehavior.clickCount < 2)
                  {   
                      // If the user can update the post then allow the 
                      // double click behavior (opens the edit form)
                      <% if can? :update, @post %>
                          setTimeout(function(){iframeBehavior.click(evt)},
                              300);
                      <% else %>
                          iframeBehavior.singleClick(evt);
                      <% end %>
                  }
              });
            });
        </script>
        <%= stylesheet_link_tag :iframe %>
    </head>
    <body privly-exclude="true">
        <div id="wrapper">
            <div id="post_content">
              <%= @post.content.safe_markdown %>
            </div>
            <div id="post_form" style="display:none;background:none">
                <%= render 'iframe_form.html' %>
            </div>
        </div>
    </body>
</html>
