.paginated_collection_contents {
    clear: both;
}
.pagination {
    font-size: 0.9em;
    margin-left: 10px;
}
.pagination a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(-90deg, #FDFDFD, #E8E8E8) repeat scroll 0 0 transparent;
    border-color: #D3D3D3 #C7C7C7 #C2C2C2;
    border-radius: 200px 200px 200px 200px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.8) inset;
    color: #777777;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}
.pagination a:hover {
    background: -moz-linear-gradient(-90deg, #8B9297, #484D51) repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.pagination a:hover span.icon svg path, .pagination a:hover span.icon svg polygon, .pagination a:hover span.icon svg rect, .pagination a:hover span.icon svg circle {
    fill: white !important;
}
.pagination a:active {
    background: -moz-linear-gradient(-90deg, #7E858B, #3C4043) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0 white;
}
.pagination a:hover {
    background: -moz-linear-gradient(-90deg, #FDFDFD, #EAEAEA) repeat scroll 0 0 transparent;
    color: #444444;
}
.pagination a:hover span.icon svg path, .pagination a:hover span.icon svg polygon, .pagination a:hover span.icon svg rect, .pagination a:hover span.icon svg circle {
    fill: #444444 !important;
}
.pagination a:active {
    background: -moz-linear-gradient(-90deg, #FCFCFC, #E5E4E5) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18) inset, 0 1px 0 0 #EEEEEE;
}
.pagination a.disabled {
    color: #777777;
    cursor: default;
    opacity: 0.6;
}
.pagination a.disabled:hover {
    color: #777777;
}
.pagination a.disabled:active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px white inset;
}
.pagination span.page.current {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(-90deg, #838A90, #414549) repeat scroll 0 0 transparent;
    border-color: #616A71 #484E53 #363B3F;
    border-radius: 200px 200px 200px 200px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.2) inset;
    color: #EFEFEF;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 12px;
    margin-right: 3px;
    padding: 7px 16px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 black;
}
.pagination span.page.current:hover {
    background: -moz-linear-gradient(-90deg, #8B9297, #484D51) repeat scroll 0 0 transparent;
    color: #FFFFFF;
}
.pagination span.page.current:hover span.icon svg path, .pagination span.page.current:hover span.icon svg polygon, .pagination span.page.current:hover span.icon svg rect, .pagination span.page.current:hover span.icon svg circle {
    fill: white !important;
}
.pagination span.page.current:active {
    background: -moz-linear-gradient(-90deg, #7E858B, #3C4043) repeat scroll 0 0 transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0 white;
}
.pagination a, .pagination span.page.current {
    border-radius: 0 0 0 0;
    margin-right: 4px;
    padding: 2px 5px;
}
.pagination_information {
    color: #B3BCC1;
    float: right;
    margin-bottom: 5px;
}
.pagination_information b {
    color: #5C6469;
}
