<p>Welcome <%= @resource.email %>!</p>

<p>You can confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>

<p>Privly is still an experimental application, so only use it...experimentally. When you find a problem, make sure you <%= link_to "report a bug", pages_bug_path %>.</p>